# Based on the LLVM style with 4-space indentation, close to the Linux kernel
# feel used throughout the mkslug sources.
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
SortIncludes: false
Cpp11BracedListStyle: true
